# node_modules
node_modules

# environment variables
src/data/.env

# txt files
*.txt

# logs
*.log

# .DS_Store
.DS_Store

# pm2 stuff
ecosystem.config.js

# gh-pages stuff
gh-pages
gh-pages.pub

# bwd folder
src/bwd/provider/json/clientStorage/*
src/bwd/provider/json/guilds/*
src/bwd/provider/json/users/*.json
bwd/